body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey; 
    color: white;
    filter: drop-shadow(0px 0px 3px #000);
    margin: 0;
    padding: 0;
}

.caja{
    display: flex;
    width: 612px;
    height: 610px;
    background-color: black; 
    flex-wrap: wrap;
    margin: 0px;
    outline: solid 5px black;
}

.porcion{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: white; 
}

.seleccion1{
    background-color: red; 
}
.seleccion2{
    background-color: green; 
}

.btn{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 40px;
    border: none;
    filter: drop-shadow(1px 1px 2px #000);
    cursor: pointer;
}

.btn-hidden{
    visibility: hidden;
}

.btn:hover{
    filter: drop-shadow(0px 0px 0px #000);    
}

@media(max-width:700px){
    .caja{
        display: flex;
        width: 312px;
        height: 310px;
        background-color: black; 
        flex-wrap: wrap;
        margin: 0px;
        outline: solid 5px black;
    }
    .porcion{
        border: 1px solid black;
        width: 50px;
        height: 50px;
        background-color: white; 
    }
}